@import "../../variables";

.header{
  background: #ffffff;
  width: 274px;
  height: 100vh;
  font-size: 14px;
  display: block;
  position: relative;

  .logo{
    padding: 48px 46px 64px 40px;
  }

  .menu {
    a {
      display: flex;
      align-items: center;
      padding: 20px 0 20px 15px;
      text-decoration: none;
      color: $blue;
      filter: grayscale(1);
      opacity: .7;
      position: relative;
      img {
        margin-right: 10px;
      }
    }
    .active {
      filter: grayscale(0);
      opacity: 1;
      background: rgba(83, 130, 231, .04);
      &:after {
        content: '';
        position: absolute;
        width: 2px;
        right: 0;
        top: 0;
        height: 100%;
        background: $blue;
      }
    }
  }

  .logout {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 30px;
    width: 100%;
    padding: 10px 20px;
    img {
      margin-right: 10px;
    }
  }
}

