thead {
  background: rgba(43, 56, 68, 1);
  border-radius: 3px;
  margin-bottom: 24px;

  th {
    color: white !important;
  }
}

.table-header-row:first-child {
  text-align: left;
}

.table-header-row:last-child {
  text-align: right;
}

.table {
  box-shadow: none !important;
}

.table-row {
  border-radius: 3px;
  height: 60px;
  background: #F8F8F8;

  &:nth-child(odd) {
    background: white;
  }

  * {
    border: none !important;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .table-button {
    color: #5382E7;
    background: rgba(83, 130, 231, 0.1);
    border: #5382E7;
    border-radius: 3px;
    width: 33%;
    height: 28px;
    cursor: pointer;
  }

  .table-button-delete {
    background: none;
    cursor: pointer;
  }
}
